/* src/components/Home.css */

.home-container {
        padding: 20px;
        font-family: Arial, sans-serif;
      }
      
      .problem-list {
        list-style-type: none;
        padding: 0;
      }
      
      .problem-list li {
        margin: 10px 0;
      }
      
      .problem-list li a {
        text-decoration: none;
        font-size: 18px;
        color: #90ee90;
      }
      
      .problem-list li a:hover,
      .problem-list li a.active-link {
        color: #98fb98;
        text-decoration: none;
        opacity: 0.9;
      }
      
      h2 {
        color: #90ee90;
        font-size: 1.5em;
        margin-bottom: 1em;
      }
      